*{
	margin: 0;
	text-align: center;
	font-family: 'Bree Serif', serif; 
	/*For Heading*/
	font-family: 'Lora', serif;
	/*For Paragraphs*/
	transition: 0.5s;

}
.Header{
	font-family: 'Bree Serif', serif; 
}
.Paragraph{
	font-family: 'Lora', serif;
}

header a{
	padding: 10px;
}
ul{
	list-style-type: none;
}
.nav{
	position: fixed;
	z-index: 1;
	height: 5%;
	background-color: rgba(	93,	128	,95,0.5);
	color: white;
	width: 100%;
	margin-left: 0;
	right: 2px;
	top:0px;
}
.nav a{
	position: relative;
	color: white;
	transition: color 0.3s;
	z-index: 2;
}
.nav a:hover{
	color: black;
	text-decoration: underline;
}
/*Gilf*/
#Char{
	position: relative;
	right: 13%;
	top: 25px;
}
/*ABOUT ME */
.Mac{
	text-align: center;
	margin-top: 3%;
}
.spin{
	position: relative;
	right: 12%;

}
.Mac img{
	position: relative;
	left: 50px;
}
/*Ecprence*/
#Experence{
	background-color: #e8ead3;
	
}
.Tin{
	padding: 10%;
	margin:150px auto;
}
.React{
	position: relative;
	top: 10%;

}

.Smart{
	color: white;
	line-height: 2;
	position: relative;
	left: 20%;
	letter-spacing: 2px;
	right: 20px;
}
.React{
	padding-top: 2%;
	margin: 11px 5px 0 5px;
}
.Dom{
	position: relative;
	bottom: 50px;

}
.row{
	padding-left: 0px;
	padding-right: 10px;
}

.sever{
	position: relative;
	right: 15px;
	margin-left: 2px;
}
.trail{
	background-color: #e8ead3;

}
.Move{
		position:relative;
		right: 16px;
	
}
.Move h2{
	text-align: left;
	margin-left:20px;
}
/*Despcription for Skilss*/
.lead{
	margin-left: 5px;
}
.Mac p{
	text-align: center;
}

div p{

	text-align: left;
}
.Move div p{
		margin-left: 20px;
}
