*{
	margin: 0;
	text-align: center;
	font-family: 'Bree Serif', serif; 
	/*For Heading*/
	font-family: 'Lora', serif;
	/*For Paragraphs*/
	transition: 0.5s;
	/*background: black;*/
			

}
body,
html {
    height: 100%
}

.AppleMAc{
	position: relative;
	right: 3%;
}
.load{
	position: relative;
	z-index: -2;
	left: 100%;
}

#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0
}

.Header{
	font-family: 'Bree Serif', serif; 
}
.Paragraph{
	font-family: 'Lora', serif;
}

header a{
	padding: 10px;
}
ul{
	list-style-type: none;
}

/*Gilf*/
#Char{
	position: relative;
	right: 13%;
	top: 25px;
}
/*ABOUT ME */
.Mac{
	text-align: center;
	margin-top: 3%;
}
.spin{
	position: relative;
	right: 12%;

}
.Mac img{
	position: relative;
	left: 50px;
}
/*Ecprence*/
#Experence{
	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 88%, 0% 100%);
	padding: 20px;
	background: rgba(21,162,250,0.5);
	 /*#e8ead3;*/
	
}
.tin{
position: relative;
top: 10px;
padding: 12px;
}
.React{
	position: relative;
	top: 10%;

}

.Smart{
	color: white;
	line-height: 2;
	position: relative;
	left: 20%;
	letter-spacing: 2px;
	right: 20px;
}
.React{
	padding-top: 2%;
	margin: 11px 5px 0 5px;
}
.Dom{
	position: relative;
	bottom: 50px;

}
.row{
	padding-left: 0px;
	padding-right: 10px;
}

.sever{
	position: relative;
	right: 15px;
	margin-left: 2px;
}
.trail{
/*background: #f6acc8*/
background: rgba(21,162,250,0.5);

	/*color for A and header*/	

}
h2{
	color: black; 
	/*color for A and header*/
}
.Move{
		position:relative;
		right: 16px;
}

.Move h2{
	text-align: left;
	margin-left:20px;

}
/*Despcription for Skilss*/
.lead{
	margin-left: 5px;
}
.Mac p{
	text-align: center;
}

div p{

	text-align: left;
}
.Move div p{
		margin-left: 20px;
}
.other-skills{
	margin-top: 10%;
}
/*from footer*/
/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');



#footer {
    background: black;
}


#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .2s all ease;
	-moz-transition: .2s all ease;
	transition: .2s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
.Skill-row img:hover{
	transform: scale(1.2);
}
.use{
	margin-left: 2%;
}

#particles-js{
	display: block;
	position: absolute top-left;
	width: 100%;
}
.carousel-inner img{
	margin: 8px;
}



/*for phone % i pad*/
@media (max-width:1125px){
	#Pskill{
	position: relative;
	top: 100%;
}
	p{
	font-size: 150%;
	line-height: 2;
}	
	#footer {
		padding: 10%;
	}
	#footer li {
		position: relative;
		bottom: 5%;
		margin: 5%;
	}

#Experence{
	padding: 20%;
}
#body{
	padding: 10%;
}
#body i {
	position: relative;
	right: 20%;
}
.Skill-row img{
	padding: 5%;
	float: left;
	margin: 10px auto;
	margin-left: 10px;
}

.Skill-row h2{
	position: relative;
	left: 10px;
	line-height: 2;
	top: 25%;
	text-align: left;
	color: black;
	padding: 10px;
}
.Skill-row  p{
	position: relative;
	top: 15%;
	left: 10px;
	line-height: 2;
}
#Skill-paragraph {
	padding: 50%;
	margin-left: 10px;
}
